/* Print styles */

@media print {
    body, header {
        font-family: Arial, sans-serif;
        line-height: 1;
        color: #000;
        background-color: #fff; /* Set a background color for printing */
    }

    body {
        size: A4;
        
    }

    .hiddenprint {
        display: none;
        
    }

    footer {
        display: none;
    }

    header {
        font-size: 10pt;
        text-align: center;
        
        

    }

    main, section {
        margin: 5px;
        padding: 1px;
        background-color: #fff;
        box-shadow: none;
        border-radius: 1px;
        font-size: 10pt;


    }
    
    h1 {
        color: #000;
        font-size: 12pt; /* Adjust the font size for better readability on print */
        margin: 0; /* Remove margin to save space */
        page-break-before: auto; /* Start a new page for each h1 element */
        page-break-inside: avoid;
    }

    h3 {
        color: #000;
        font-size: 10pt; /* Adjust the font size for better readability on print */
        margin: 2pt; /* Remove margin to save space */
        
        
    }

    p {
        line-height: 1;
        margin: 0; /* Remove margin to save space */
        page-break-inside: avoid;
    }  

    table {
        border-collapse: collapse;
        width: 100%;
        margin-bottom: 1px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 5px;
        text-align: left;
    }

    a {
        color: #000;
    }
    
    ul {
        columns: 1; /* Set the number of columns */
        column-gap: 0.5em; /* Adjust the gap between columns */
    }

    /* Optional: Style the list items for better readability */
    li {
        margin-bottom: 0.2em;
    }

}
