/* Import Bootstrap CSS */
@import url('https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css');
/* Regular styles for screen */
@media screen {

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #333;
}

header {
    background-color: #d2d8d2;
    color: white;
    text-align: center;
    padding: 10px;
}

main {
    max-width: 1280px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    color: #fcfaf8;
}

p {
    line-height: 1.6;
}

section {
    margin-bottom: 10px;
    margin: 5px;
    
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #313531;
    color: #f5f3f2;
}

.my-5 {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}

.hidden {
    display: none;
    
}

}

